.logo {
  float: left;
}
.page-header {
  background-color: black;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 0.5%;
  color: white;
  font-size: 200%;
}
.nav {
  float: right;
  color: white;
  text-decoration: none;
}
span {
  margin: 20px;
}
.body {
  font-family: fantasy;
  background-color: brown;
  margin-top: 0px;
  color: blanchedalmond;
  text-align: center;
}
.jumbotron {
  margin: 0px;
  color: black;
  background-color: lightgrey;
}
p {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 200%;
}
#jumbotron2 {
  color: blanchedalmond;
  background-color: brown;
  padding-bottom: 2%;
}
