.logo {
  float: left;
}
.page-header {
  background-color: black;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 0.5%;
  color: white;
  font-size: 150%;
}
.page-header ul {
  font-size: 150%;
  color: blanchedalmond;
}
.nav {
  padding-top: 1%;
  float: right;
  color: white;
  text-decoration: none;
}
h1 {
  font-size: 400%;
}
.body {
  font-family: fantasy;
  background-color: brown;
  margin-top: 0px;
  color: blanchedalmond;
  text-align: center;
}
.jumbotron {
  margin: 0px;
  color: black;
  background-color: lightgrey;
}
p {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 200%;
}
.jumbotron2 {
  color: blanchedalmond;
  background-color: brown;
  padding-bottom: 2%;
  margin-bottom: 0%;
}
.jumbotron3 {
  text-align: center;
  color: blanchedalmond;
  background-color: #004d66;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 0%;
  margin-bottom: 0%;
}
.list {
  text-align: left;
  text-decoration: none;
}
ul {
  list-style: none;
  color: blanchedalmond;
  font-size: 200%;
}
.jumbotron4 {
  background-color: #bf8040;
  text-align: center;
  margin-bottom: 0%;
  padding-top: 2%;
  padding-bottom: 2%;
}
