.logo {
  float: left;
}
.page-header {
  background-color: black;
  margin: 0px;
}
.nav {
  float: right;
  color: white;
  text-decoration: none;
}
span {
  margin: 20px;
}
.body {
  background-color: brown;
  margin-top: 0px;
  color: blanchedalmond;
  text-align: center;
}
.jumbotron {
  margin: 0px;
  color: black;
  background-color: lightgrey;
}
#img {
  position: relative;
  float: left;
}
#jumbotron2 {
  color: blanchedalmond;
  background-color: brown;
}
